# Maven
target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
*.xml.versionsBackup

# Environment
.env
*.env

venv

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.log
logs/

# Docker volumes
postgres-data/